body {
  background-color: white;
  font-family: 'Slabo 27px', 'Ubuntu', 'Roboto', sans-serif;
  background-image: url("../assets/background.jpg");
  background-repeat: repeat;
}

.form-control {
  padding: .1rem 1rem;
}

.btn {
  font-size: 1.5rem;
}

.tm-navbar-bg {
  background-color: #000;
}

.is-rounded {
  width: 100%;
}

.audio-player {
  background-color: #cfcccc;
  padding: .5rem;
  border: solid 1px;
  box-shadow: 2px 2px 15px white;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}

.audio-player .bottom div {
  justify-content: center;
}

#play-icon {
  height: 4rem !important;
}

#loop-icon {
  height: 3rem !important;
}